<mat-toolbar color="primary" class="sticky top-0 z-50">
    <div class="flex align-center justify-between w-full">
        <p class="font-medium">Tax Calculator</p>
        <div class="flex align-center justify-center">
            <button mat-icon-button class="example-icon favorite-icon"
                aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>